<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aniu.downvideo.mapper.AniuCcvideoDownloadStatusMapper">
    <resultMap id="ccvideoDownloadStatusMap" type="com.aniu.downvideo.entity.AniuCcvideoDownloadStatus">
        <id column="id" property="id" />
        <result column="vid" property="vid" />
        <result column="cc_content_id" property="ccContentId" />
        <result column="standby1" property="standby1" />
        <result column="download_status" property="downloadStatus" />
    </resultMap>

    <resultMap id="ccLiveVideoMap" type="com.aniu.downvideo.entity.CcLiveVideo">
        <id column="id" property="id" />
        <result column="room_id" property="roomId" />
        <result column="cc_content_id" property="ccContentId" />

        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="update_time" property="updateTime" />


        <result column="standby1" property="standby1" />
        <result column="download_status" property="downloadStatus" />
    </resultMap>

    <insert id="addAll">
        insert into aniu_ccvideo_download_status(vid,cc_content_id,download_status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.vid},#{item.ccContentId},0)
        </foreach>
    </insert>

    <select id="getAllRoomId" resultType="string">
        SELECT room_id FROM aniu_cc_room where status = 0
    </select>


    <insert id="saveCcLiveVideos">
        insert into aniu_livevideo_download_status(room_id, cc_content_id, start_time, end_time, download_status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.roomId}, #{item.ccContentId}, #{item.startTime}, #{item.endTime}, 0)
        </foreach>
    </insert>

    <select id="getAllLiveVideo" resultType="com.aniu.downvideo.entity.LiveVideoUniqueKey">
        SELECT t.room_id roomId,t.cc_content_id ccContentId FROM aniu_livevideo_download_status t
    </select>

    <select id="getLiveList" resultMap="ccLiveVideoMap">
        SELECT
          *
        FROM
          aniu_livevideo_download_status
        WHERE download_status != 1
        ORDER BY start_time ASC,id ASC
        LIMIT #{num}
    </select>

    <select id="getCourses" resultMap="ccvideoDownloadStatusMap">
        SELECT
          *
        FROM
          aniu_ccvideo_download_status
        WHERE download_status != 1
        ORDER BY id
        LIMIT #{num}
    </select>

    <update id="updateLiveStatus">
        update aniu_livevideo_download_status set download_status = 1,update_time = NOW() where
        cc_content_id = #{ccId} and room_id = #{roomId}
    </update>

    <update id="updateStatusByCcId">
        update aniu_ccvideo_download_status set download_status = 1 where cc_content_id = #{ccId}
    </update>
</mapper>